{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-6 border-right">
                <h1>features</h1>
                {% for ticket in features %}
                    <div class="feature m-2">
                        <div class="date">
                            Completed: {{ ticket.completed_date }}
                             <span class="float-right text-uppercase">STATUS: {{ ticket.ticket_status }}</span>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <h3>{{ ticket.title }}</h3>
                            </div>
                        </div>
                        <span><small>Money Raised: £{{ ticket.money_raised }}</small></span>
                        <p>{{ ticket.text|linebreaksbr }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-12 col-lg-6">
                <h1>bugs</h1>
                {% for ticket in bugs %}
                    <div class="feature m-2">
                        <div>
                            <div class="date">
                                Completed: {{ ticket.completed_date }}
                                 <span class="float-right text-uppercase">STATUS: {{ ticket.ticket_status }}</span>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <h3>{{ ticket.title }}</h3>
                                </div>
                            </div>
                            <p>{{ ticket.text|linebreaksbr }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
