{% extends 'base.html' %}

{% block content %}
    <div class="feature m-2">
        <div class="date">
            Date created: {{ ticket.created_date }}
            <span class="float-right text-uppercase">STATUS: {{ ticket.ticket_status }}</span>
        </div>
        <h2>{{ ticket.title }}</h2>
        {% if ticket.ticket_type == 'feature' %}
            <div class="up-vote">
                <form action="{% url 'ticket_donation' %}?id={{ ticket.id }}&next={{ request.get_full_path }}"
                      method="POST"> {% csrf_token %}
                    <script
                            src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            data-key="pk_test_CfMP6UeifxOAmncHyvKRbLsk"
                            data-amount="2000"
                            data-name="Unicorn Attractor"
                            data-description="Feature Donation"
                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                            data-locale="auto"
                            data-label="I want to have this too"
                            data-currency="gbp">
                    </script>
                </form>
            </div>
            <span><small>Money Raised: £{{ ticket.money_raised }}</small></span>
        {% endif %}
        {% if ticket.ticket_type == 'bug' %}
            {% if voted %}
                <div class="up-vote">
                    <a class="btn btn-info float-right text-white" disabled>you voted, thanks</a>
                </div>
            {% else %}
                <div class="up-vote">
                    <a class="btn btn-info float-right"
                       href="{% url 'ticket_vote' %}?id={{ ticket.id }}&next={{ request.get_full_path }}">I have this
                        too</a>
                </div>
            {% endif %}
        {% endif %}
        <p>{{ ticket.text|linebreaksbr }}</p>
    </div>
    <div class="comments">
        <p>Comments:</p>
        {% for comment in comments %}
            <div class="timeline-comment-wrapper">
                <div class="timeline-comment">
                    <div class="timeline-comment-header">
                        <h3 class="timeline-comment-header-text"><strong>{{ comment.user }}</strong><span
                                class="text-small"> commented on {{ comment.date_commented }}</span></h3>
                    </div>
                    <p class="pl-3">{{ comment.comment }}</p>
                </div>
            </div>
        {% endfor %}
        <form method="POST" class="post-form" action="{{ request.get_full_path }}">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Submit</button>
        </form>
    </div>
{% endblock %}