{% extends 'base.html' %}

{% block content %}
<div class="post border-bottom mb-3">
        <h2>So you want to help us?</h2>
        <p>After many years of dealing with everything from Aalu to Zygomancy the time has come to start building devices to harness their powers and become flithy rich!</p>
        <h2>What do you need to do?</h2>
        <p>Simple, first you need to register and then vote for bugs and at some point in time we'll get around to making things happen by fixing the bugs in our systems.</p>
        <h2>I want features that I heard about on the Telly, now!</h2>
        <p>Cool, if you want those you can help us develop them by paying some money. The more money that gets spent on features the quicker they get dealt with. We promise to spend at least 50% of our time on the most funded feature. Our graphs so exactly what we've been up to - we value transparency so your money is not wasted here.</p>
        <h2>Where are the features and bugs?</h2>
        <p>After you register and login you can access the ticket list and join in the discussion on that ticket</p>
        <h2>So what are you wanting for?</h2>
        <p>Register and login already and help us - you'll be rich too in a short spell.</p>
    </div>
{% endblock %}
